body {
    background-color: hsl(225, 100%, 94%);
    height : 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fond {
    margin-top: -200px;
    margin-left: -500px;
}

.heroes {
    display: block;
    margin : auto;
    border-top-left-radius : 15px;
    border-top-right-radius: 15px;
    margin-top: -200px;
    width : 250px;
    height : 150px;
}

#blanc {
    background-color: white; 
    margin : auto ; 
    width : 250px; 
    border-radius: 15px;
    
}

.titre {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif; 
    color: hsl(223, 47%, 23%);
    font-weight: bold;

}
.text {
    text-align: center; 
    font-family: 'Red Hat Display', sans-serif;
    color:hsl(224, 23%, 55%);
    font-size: 14px;
}
.annul {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color : hsl(223, 47%, 23%);
    font-weight: bold;
    font-size: 10px;
}